#premiumProduct {
  .container {
    .sectionParts {
      display: flex;
      .imagePart {
        width: 35%;
        background-color: rgb(73, 73, 235);
        height: 100vh;
        position: relative;
        .image{
            position: absolute;
            width: 462px;
            bottom: 0;
            right: 0;
            height: 698px;
            transform: translateX(35%);
            img{

            }
        }
      }
      .textPart {
        background-color: #F1F6F7;
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .textBox {
          width: 600px;
          padding-left: 50px;
          .title {
            h4 {
              color: gray;
              font-size: 35px;
              margin-bottom: 20px;

            }
          }
          .description {
            h1 {
              font-size: 50px;
              text-transform: uppercase;
              margin-bottom: 20px;
            }
          }
          .subDescription {
            p {
              color: gray;
              max-width: 600px;
              margin-bottom: 30px;
            }
          }
          .browseNow {
            .browseNowBtn {
              padding: 16px 45px;
              background-color: rgb(73, 73, 235);
              color: white;
              border-radius: 50px;
              border: 1px solid gray;
              cursor: pointer;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}
